@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap&subset=latin-ext');

* {
    /* font-family: 'Lobster', cursive; */
    font-family: 'Chivo', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #c0c0c0; */
    background: url('./img/img1.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.678);
    padding: 40px 0;
    margin-top: 30px;
}

header h1,
header h3 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: rgb(211, 207, 197);
}

header h1 {
    font-size: 100px;
}

header h3 {
    font-size: 40px;
}

.converter-container {
    background-color: rgba(0, 0, 0, 0.678);
    width: 60%;
    margin: 70px auto 0 auto;
    color: rgb(211, 207, 197);
    padding: 40px;
}

.converter-input{
    display: flex;
    flex-direction: column;
}

.converter-input label{
    font-size: 20px;
    margin-bottom: 15px;
}

.converter-input input{
    border: 0;
    background: transparent;
    border: 1px solid rgb(211, 207, 197);
    padding: 20px 20px;
    color: rgb(211, 207, 197);
    font-size: 18px;
}

.converter-input input:focus{
    outline: none;
}

.converter-input input::placeholder{
    color: rgba(145, 143, 143, 0.623);
}

.converter-input input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
.converter-input input[type="number"] {
    -moz-appearance: textfield;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #5714D5;
    color: white;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-image: linear-gradient(to right, #5714D5, #5714D5, #04D5DF, #5714D5);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}

.button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.converter-output{
    margin-top: 50px;
}

.converter-output h5{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.result-display {
    width: 100%;
    height: 200px;
    border: 1px solid rgb(211, 207, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    font-size: 26px;
    text-align: center;
    color: rgb(253, 203, 255);
}

@media all and (max-width: 1024px) {
    header {
        padding: 20px 0;
        margin-top: 20px;
    }

    header h1 {
        font-size: 50px;
    }

    header h3 {
        font-size: 20px;
    }

    .converter-container {
        padding: 20px;
    }

    .converter-input label{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .converter-input input{
        padding: 15px 15px;
        font-size: 16px;
    }

    .button {
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 20px;
    }

    .converter-output{
        margin-top: 30px;
    }

    .converter-output h5{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .result {
        font-size: 20px;
    }
}

@media all and (max-width: 676px) {
    header {
        padding: 10px 0;
        margin-top: 10px;
    }

    header h1 {
        font-size: 28px;
    }

    header h3 {
        font-size: 18px;
    }

    .converter-container {
        padding: 20px;
        width: 85%;
    }

    .converter-input label{
        font-size: 16px;
    }

    .converter-input input{
        padding: 10px 10px;
        font-size: 14px;
    }

    .converter-output{
        margin-top: 20px;
    }

    .converter-output h5{
        font-size: 16px;
    }

    .result {
        font-size: 18px;
    }

}